<div class="container-contacts">

    <div class="bloq-1">

        <h1>Contáctanos</h1>
        <h4>A través de nuestras redes sociales</h4>
        <div class="icons">
            
            <img src="../../../../assets/img/facebook.png" alt="">
            <img src="../../../../assets/img/instagram.png" alt="">
            <img src="../../../../assets/img/twitter.png" alt="">
            <img src="../../../../assets/img/youtube.png" alt="">            
        
        </div>

        <h3>También puedes llamarnos</h3>
        <h4>57 5860011</h4>
        <h4>3123057635</h4>
        <h3>O escribirnos al correo</h3>
        <h4>soporte@nortexploradores.com</h4>

    </div>

    <div class="bloq-2">

        <img src="../../../../assets/img/LOGO-01-CONTC.png" alt="">

    </div>

</div>
