<body>
  <div class="container-contact100">
    <div class="wrap-contact100">

      <form [formGroup]="form" (submit)="enviarData()" class="contact100-form validate-form">
        <span class="contact100-form-title">
          <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
        </span>
        <hr style="color: rgb(5, 168, 5);">

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <span class="contact100-form-combo">Id seguro</span>
          <input formControlName="idSeguro" class="input100" type="number" placeholder="ID" id="inputIdSeguro">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <span class="contact100-form-combo">Nombre de seguro</span>
          <input formControlName="nombre" class="input100" type="text" placeholder="Nombre del seguro" id="inputNombre">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100" [formGroup]="form">
          <span class="contact100-form-combo">Estado del seguro</span>
          <select formControlName="estado" type="text" class="form-control" id="inputEstado" class="input100"
              placeholder="Estado">
              <option value="false">INACTVO</option>
              <option value="true">ACTIVO</option>
          </select>
      </div>

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese su descripcion">
          <span class="contact100-form-combo">Descripcion</span>
          <textarea formControlName="descripcion" class="input100" placeholder="Descripcion del seguro"
            id="inputDescripcion"></textarea>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <span class="contact100-form-combo">Precio</span>
          <input formControlName="precio" class="input100" type="number" placeholder="Precio" id="inputPrecio">
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100">
          <span class="contact100-form-combo"> Empresa</span>
          <select formControlName="empresa" class="form-select" aria-label="Default select example" class="input100"
            placeholder="empresa">
            <option *ngFor="let empresa of empresas" name="empresa" id="emp{{empresa.idEmpresa}}"
              value={{empresa.idEmpresa}}>
              {{empresa.nombre}}</option>
          </select>
        </div>


        <hr style="color: rgb(5, 168, 5);">
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn" type="submit">{{boton | uppercase}}</button>
        </div>
      </form>
    </div>
  </div>
</body>