<div class="container-fluid">
    <div class="cajon">
      <div class="titulo">
        <h5 style="text-align: start; color: white; font-weight: bold;" class="gestiones">
          Administración De Notificaciones
        </h5>
      </div>

  
      <div class="table">
        <table datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered row-border hover" style="margin-bottom: 25px;">
          <thead class="table-dark">
            <tr>
              <th>DESCRIPCION</th>
              <th>FECHA</th>
              <th>USUARIO</th>
              <th>SUGERENCIA</th>
              <th>SOLICITUD</th>
              
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let notificacion of notificaciones">
                <td>{{notificacion.descripcion}}</td>
                <td>{{notificacion.fecha}}</td>
                <td *ngIf="notificacion.usuario!=null">{{notificacion.usuario.username}}</td>
                <td *ngIf="notificacion.usuario==null" class="text-center">----</td>

                <td *ngIf="notificacion.sugerencia!=null">{{notificacion.sugerencia.descripcion}}</td>
                <td *ngIf="notificacion.sugerencia==null" class="text-center">----</td>

                <td *ngIf="notificacion.solicitudTour!=null" >{{notificacion.solicitudTour.descripcion}}</td>
                <td *ngIf="notificacion.solicitudTour==null" class="text-center">----</td>

           </tr>
          </tbody>
        </table>
  
      </div>
  
  
  
    </div>
  </div>
