
<body>
  <div class="container-contact100">
    <div class="wrap-contact100">

      <form [formGroup]="form" (submit)="enviarData()" class="contact100-form validate-form">
        <span class="contact100-form-title">
          <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
        </span>


        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <input formControlName="idEmpresa" class="input100" type="number" placeholder="NIT " id="inputIdEmpresa">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <input formControlName="nombre" class="input100" type="text" placeholder="Nombre de la empresa" id="inputNombre">
          <span class="focus-input100"></span>
        </div>

        
        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <input formControlName="direccion" class="input100" type="text" placeholder="Direccion" id="inputNombre">
          <span class="focus-input100"></span>
        </div>


      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese su descripcion">
        <textarea formControlName="mision" class="input100" placeholder="Misión de la empresa"
          id="inputMision"></textarea>
        <span class="focus-input100"></span>
      </div>
  
      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese su descripcion">
        <textarea formControlName="vision" class="input100" placeholder="visión de la empresa"
          id="inputVision"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese su descripcion">
        <textarea formControlName="descripcion" class="input100" placeholder="Descripcion de la empresa"
          id="inputDescripcion"></textarea>
        <span class="focus-input100"></span>
      </div>


      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
        <input formControlName="correo" class="input100" type="email" placeholder="Correo" id="inputCorreo">
        <span class="focus-input100"></span>
      </div>
        

  
      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
        <input formControlName="telefono" class="input100" type="number" placeholder="Telefono" id="inputNombre">
        <span class="focus-input100"></span>
      </div>
        

      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
        <input formControlName="fecha" class="input100" type="date" placeholder="FechaConvenio" id="inputFecha">
        <span class="focus-input100"></span>
      </div>


      <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
        <input formControlName="urlImagen" class="input100" type="text" placeholder="urlImagen" id="inputImagen">
        <span class="focus-input100"></span>
      </div>

        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn" type="submit">{{boton | uppercase}}</button>
        </div>
      </form>
    </div>
  </div>
</body>