<header class="header">
  <div class="menu margen-interno">
    <div class="logo">
      <a href="#">
        <img src="../../../assets/img/LOGO-01.png" alt="" width="50px"
      /></a>
    </div>
    <div class="nav">

      <a routerLink="inicio"
        ><i class="fas fa-home"></i><span class="off">Inicio</span></a
      >

      <a routerLink="rutas"
        ><i class="fab fa-weixin"></i><span class="off">Rutas</span></a
      >

      
      <a nz-dropdown [nzDropdownMenu]="tours">
        Tours
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #tours="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a routerLink="pasadia">Pasadia</a></li>
          <li nz-menu-item><a routerLink="estadia">Estadia</a></li>
        </ul>
      </nz-dropdown-menu>

      <a routerLink=""
        ><i class="fas fa-concierge-bell"></i
        ><span class="off">Contacto</span></a
      >

      <a nz-dropdown [nzDropdownMenu]="menu">
        Ver mas
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a routerLink="viajesGrupales">Viajes Grupales</a>
          </li>
          <li nz-menu-item><a routerLink="festividades">Festividades</a></li>
          <li nz-menu-item>
            <a routerLink="recomendaciones">Recomendaciones</a>
          </li>
        </ul>
      </nz-dropdown-menu>

      <a routerLink="administracion/reportes"
        ><i class="fas fa-concierge-bell"></i
        ><span class="off">Admin</span></a
      >

    </div>
    <div class="social">
      <a href=""
        ><i class="fas fa-home"></i><span class="off">Inicio Sesión</span></a
      >
      <a href=""
        ><i class="fab fa-weixin"></i><span class="off">Registarse</span></a
      >
    </div>
  </div>

</header>
