
<header class="header">
  <div class="menu margen-interno">
    <div class="logo">
      <a href="#">
        <img src="../../../assets/img/LOGO-01.png" alt="" width="50px"
      /></a>
    </div>
    <div class="nav">

      <a routerLink="inicio">
        <span class="off">Inicio </span>
        <i class="fas fa-home"></i>
        </a>

      <a routerLink="rutas">
        <span class="off">Rutas </span>
        <i class="fas fa-road"></i>
        </a>

      
      <a nz-dropdown [nzDropdownMenu]="tours">
        <span>Tours </span>
        <i class="fas fa-globe-americas"></i>
      </a>
      <nz-dropdown-menu #tours="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a routerLink="pasadia">Pasadia</a></li>
          <li nz-menu-item><a routerLink="estadia">Estadia</a></li>
        </ul>
      </nz-dropdown-menu>

      <a routerLink="contacto">
        <span class="off">Contacto </span>
        <i class="fas fa-phone"></i>
      </a>

      <a nz-dropdown [nzDropdownMenu]="menu">
        Ver mas
        <i class="fas fa-chevron-circle-down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a routerLink="viajesGrupales">Viajes Grupales</a>
          </li>
          <li nz-menu-item><a routerLink="festividades">Festividades</a></li>
          <li nz-menu-item>
            <a routerLink="recomendaciones">Recomendaciones</a>
          </li>
        </ul>
      </nz-dropdown-menu>

      <a *ngIf="isAdmin && isLogged" routerLink="administracion/reportes">
        <i class="fas fa-concierge-bell"></i>
        <span class="off">Admin</span></a>

    </div>
    <div class="social">
      <a href="" *ngIf="!isLogged" routerLink="/login"
        ><i class="fas fa-home"></i><span class="off">Inicio Sesión</span></a
      >
      <a href="" *ngIf="!isLogged" routerLink="/registro"
        ><i class="fab fa-weixin"></i><span class="off">Registarse</span></a
      >
      <a href="" *ngIf="isLogged" 
        ><i class="fab fa-weixin"></i><span class="off" id="nombreUser"></span></a
      >
      <a href="" (click)="onLogOut()" *ngIf="isLogged" 
        ><i class="fab fa-weixin"></i><span class="off">Cerrar Sesion</span></a>
    </div>
  </div>

</header>
