<!-- <div class="container-fluid" style="margin-top: 25px;">
    <h1 style="text-align: center;">Tours Del Mes</h1>


    <div class="container">
        <div class="card">
         
        </div>
      
        <div class="card">
         
        </div>
    
        <div class="card">
            
          </div>
      </div>
</div> -->

<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-lg-7 info">
            <!-- TODO: NOMBRE DEL PUEBLO -->
            <h3 style="font-weight: bold; font-family: 'Roboto', sans-serif;">Cacota - Norte De Santander</h3>
            <!-- TODO: DESCRIPCION -->
            <h5 style="font-family: 'Roboto', sans-serif;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident omnis neque delectus et minus dignissimos nostrum. Assumenda, consequatur sunt quas temporibus quod explicabo. Exercitationem nisi rem saepe eaque, consequuntur sed?
            Itaque animi iusto sit impedit beatae similique expedita fugiat saepe ea tenetur fuga sint, eum ipsum nisi dolores, dolorem magni modi eaque deleniti blanditiis ducimus quam doloremque vitae! Facere, nemo.</h5>

            <h4>Alojamiento: Nombre del Alojamiento</h4>

            <h4>Recomendaciones: </h4>

            <h4>Precio: $$$</h4>
        </div>

        <div class="col-lg-5 img" style="background-color: green;">
            
        </div>
    </div>
</div>


<!-- 
<div class="container">
    
</div> -->
