<div class="container">

    <h1 style="text-align: center; font-family: 'Mochiy Pop P One', sans-serif;">Nuestros Aliados</h1>
    
    <hr>


    <div class="empresas">
        <div class="empresa" *ngFor="let empresa of data">
            <div class="text">
                <h4 style="text-align: center; font-family: 'Mochiy Pop P One', sans-serif;">{{empresa.nombre}}</h4>
                <p style="text-align: justify; ">{{empresa.descripcion}}</p>
            </div>
        
            <div class="imagen" style="background-image: url({{empresa.urlImagen}});">

            </div>
        </div>
    </div>

   
</div>
