.container{
   /*  display: flex;
    flex-wrap: wrap; */
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;    
    text-align: center;
    margin-bottom: 25px;
    
    
}

.alicar{
    display: flex;
    flex-wrap: wrap;
}

body {
	background: #F0F2F1;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	max-width: 1144px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    border-radius: 10px;
}

