<!-- <div class="container">


  <h2 style="text-align: center; font-weight: bold;">Experiencias vividas</h2>
  


  <div class="contenedor">
    
    <div class="col-md-3" *ngFor="let exp of data" style="margin: 15px;">      
      <div class="card-sl">
        <div class="card-image">
          <img style="height:100%; width: 840px" src="{{ exp.tour.paquete.urlImagen }}" />
        </div>

        <div class="card-heading" style="text-align: center;">
          {{ exp.tour.paquete.municipio.nombre }}
        </div>
        <div class="card-text">
          {{ exp.comentario }}
        </div>
        <div class="card-text" style=" border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;">
          Calificación: {{ exp.puntuacion }}
        </div>
        
      </div>
    </div>
  </div>

</div> -->

<div class="container-fluid" style="margin-top: 25px;">
  
  

  <div class="container" style="padding-bottom: 10px;">

    <h1 style="text-align: center;">Experiencias Vividas</h1>
   
    <div class="alicar">

      <div class="card" *ngFor="let exp of data" style="background-image: url({{exp.tour.paquete.urlImagen}});">
          <h1>{{ exp.tour.paquete.municipio.nombre }}</h1>
          <p>{{ exp.comentario }}</p>
          <div class="card-text">
            Puntaje: {{ exp.puntuacion}}
        </div>
      </div>
      
      
      <!-- <div style="text-align: right; margin: 0;">
        <a routerLink="/addExperiencia" nz-button nzType="primary"><i nz-icon nzType="user-add" nzTheme="outline" style="padding-bottom: 2px;"></i>¡Cuéntanos tu experiencia!</a>
    </div> -->
      
    </div>
      
    </div>
</div>