<div class="container">


  <h2 style="text-align: center; font-weight: bold;">Experiencias vividas</h2>
  <!-- <h4 style="text-align: center; font-weight: bold;">Momentos magicos </h4> -->


  <div class="contenedor">
    
    <div class="col-md-3" *ngFor="let exp of data" style="margin: 15px;">      
      <div class="card-sl">
        <div class="card-image">
          <img style="height:100%; width: 840px" src="{{ exp.tour.paquete.urlImagen }}" />
        </div>

        <div class="card-heading" style="text-align: center;">
          {{ exp.tour.paquete.municipio.nombre }}
        </div>
        <div class="card-text">
          {{ exp.comentario }}
        </div>
        <div class="card-text" style=" border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;">
          Calificación: {{ exp.puntuacion }}
        </div>
        
      </div>
    </div>
  </div>

</div>