<div class="container-fluid">
    <br>
    <br>
    <div>
        <h3 style="text-align: center">RUTAS</h3>
    </div>

    <div class="contenedor">
        <div class="col-md-3" *ngFor="let car of activos" style="margin: 15px;">
            <div class="card-sl">
                <div class="card-image">
                    <img style="height:175px; width: 100%" src="{{ car.urlImagen }}" />
                </div>

                <div class="card-heading">
                    {{ car.municipio.nombre }}
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in
                    2018.
                </div>
                <div class="card-text">
                    Precio: ${{ car.precio }}
                </div>
                <a routerLink="/verRuta/{{ car.idPaq }}"   class="card-button"> Ver más </a>
            </div>
        </div>
    </div>
</div>