
<h2 style="text-align: center; font-weight: bold">Servicios de interes</h2>
<h4 style="text-align: center">Conoce un poco mas de nuestra empresa</h4>

<div class="container">
  <div class="card">
    <img src="../../../../assets/img/deporte-extremo-4.jpg" alt="" />
    <h4>Nuestros aliados</h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
      adipisci, voluptas esse unde nesciunt, quis est ut nihil rerum quidem,
      natus aliquam reprehenderit consectetur commodi molestiae cum totam.
      Voluptatem, officia!
    </p>
    <a routerLink="/nuestrosAliados" style="background-color: red; color: white;">Leer mas</a>
  </div>

  <div class="card">
    <img src="../../../../assets/img/deporte-extremo-4.jpg" alt="" />
    <h4>Tour del mes</h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
      adipisci, voluptas esse unde nesciunt, quis est ut nihil rerum quidem,
      natus aliquam reprehenderit consectetur commodi molestiae cum totam.
      Voluptatem, officia!
    </p>
    <a routerLink="/toursDelMes" style="background-color: red; color: white;">Leer mas</a>
  </div>
</div>
