<div class="container-contact100">
  <div class="wrap-contact100">
    <form [formGroup]="form" (submit)="enviarData()">
      <span class="contact100-form-title">
        <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
      </span>
      <hr style="color: rgb(5, 168, 5);">
      <input formControlName="idTour" hidden type="text" class="form-control" id="inputRuta">

      <div class="wrap-input100">
        <span class="contact100-form-combo">Min cupos</span>
          <input formControlName = "minCupos" type="number" class="form-control" id="inputMinCupo" class="input100"
          placeholder="Minimo de cupos">
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Max cupos</span>
          <input formControlName = "maxCupos" type="number" class="form-control" id="inputMaxCupo" class="input100"
          placeholder="Maximo de cupos">
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Fecha Llegada</span>
          <input formControlName = "fechaLlegada" type="date" class="form-control" id="inputFechaLlegada" class="input100"
          placeholder="Maximo de cupos">
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Fecha Salida</span>
          <input formControlName = "fechaSalida" type="date" class="form-control" id="inputFechaSalida" class="input100"
          placeholder="Fecha salida">
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Empleado</span>
          <select formControlName = "empleado" class="form-select" aria-label="Default select example" class="input100"
          placeholder="Empleado">
            <option *ngFor="let empleado of empleados" name="empleado" id="emp{{empleado.idEmpleado}}" 
            value={{empleado.idEmpleado}}>
              {{empleado.persona.nombre}} {{empleado.persona.apellido}}</option>
          </select>
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Paquete</span>
          <select formControlName = "paquete" class="form-select" aria-label="Default select example" class="input100"
          placeholder="Paquete">
            <option *ngFor="let paquete of paquetes" name="paquete" id="paq{{paquete.idPaq}}" 
            value={{paquete.idPaq}}>
              {{paquete.nombre}}</option>
          </select>
      </div>

      <div  class="wrap-input100">
        <span class="contact100-form-combo">Transporte</span>
          <select formControlName = "idTransporte" class="form-select" aria-label="Default select example" class="input100"
          placeholder="Transporte">
            <option *ngFor="let transporte of transportes" name="idTransporte" id="trans{{transporte.idTransporte}}" 
            value={{transporte.idTransporte}}>
           {{transporte.idTransporte}}</option>
          </select>
      </div>
 
      <div class="wrap-input100">
          <span class="contact100-form-combo">Seguro</span>
          <select formControlName = "seguro" class="form-select" aria-label="Default select example" class="input100"
          placeholder="Transporte">
            <option *ngFor="let seguro of seguros" name="seguro" id="seg{{seguro.idSeguro}}"
              value={{seguro.idSeguro}}>
              {{seguro.nombre}}</option>
          </select>
      </div>

      <div class="wrap-input100">
        <span class="contact100-form-combo">Estado del tour</span>
        <select formControlName="estado" type="text" class="form-control" id="inputEstado" class="input100"
            placeholder="Estado">
            <option value="false">INACTVO</option>
            <option value="true">ACTIVO</option>
        </select>
    </div>

      <hr style="color: rgb(5, 168, 5);">
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" type="submit">{{boton | uppercase}}</button>
        <div class="col-sm-0"></div>
      </div>
    </form>
    
  </div>
</div>
  