<div class="contenedor">
    <h1>Recomendaciones</h1>
    <div class="descripcion">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquid sequi ipsam saepe quo ea, ratione
            natus rerum? Esse saepe architecto nobis corporis neque magni nisi dolorum blanditiis illum consectetur?</p>
    </div>

    <div class="forms">
        <div class="form1">
            <div>
                <h6>Asunto</h6>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                <textarea class="form-control" id="recomendacion" rows="5"></textarea>
            </div>
        </div>

        <div class="form2">
            <form>
                <div>
                    <h4>Formulario</h4>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Digite su nombre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Digite su número celular">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="boton">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>