
  <div class="container-fluid">
    <div class="cajon">
        <div class="titulo">
          <h5 class="gestiones">Administración De Solicites</h5>
        </div>
        <div class="table">
          <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="table table-striped table-bordered row-border hover"
    >
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>FECHA</th>
          <th>DESTINO</th>
          <th>USUARIO</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
          <th>ACCION</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let solicitud of solicitudes">
            <td>{{solicitud.idSolicitud}}</td>
            <td>{{solicitud.fecha}}</td>
            <td>{{solicitud.tour.paquete.municipio.nombre}}</td>
            <td>{{solicitud.usuario.username}}</td>
            <td>{{solicitud.descripcion}}</td>
            <td>{{solicitud.tour.paquete.estado}}</td>
            <td *ngIf="solicitud.tour.paquete.estado!='ACEPTADO' && solicitud.tour.paquete.estado!='RECHAZADO'">
                <button class="button-34 green" [routerLink]="['/administracion/solicitud/',solicitud.idSolicitud]"><i class="fas fa-check-circle"></i></button> 
                <button class="button-34 red"><i class="fas fa-times-circle"></i></button>
            </td>
            <td *ngIf="solicitud.tour.paquete.estado=='ACEPTADO' || solicitud.tour.paquete.estado=='RECHAZADO'"></td>
        </tr>

      </tbody>
    </table>
        </div>
    </div>
</div>
