<footer class="bg-dark text-center text-white page-footer">

  <div class="container">

    <div class="column1">
      <img src="../../../assets/img/logobit.png" alt="">

      <p> Somos bit coders</p>
    </div>

    <div class="column2">         

      <h1>Redes Sociales</h1>   

     
      <img src="../../../assets/img/LOGO-01.png" alt="">
    

      

      <div>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-youtube"></i></a>
        
      </div>

    </div>

    <div class="column3">

      <div class="row2">
        <h1>Atención al Cliente</h1>
      </div>
      
      <div class="row3">
        <div>
          <i class="fas fa-home"></i>
          <label>Calle 2# 3-13</label>
        </div>

        <div>
          <i class="far fa-envelope-open"></i>
          <label>nortexploradores@gmail.com</label>
        </div>
       
        <div>
          <i class="fas fa-phone"></i>
          <label>+573123034854</label>
        </div>
        
      </div>      

    </div>

  </div>  

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>

</footer>