.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    /* align-content: center; */
}

.contendor div{
    /* height: 250px; */
}

.card-chart,.card-tasks,.card{
    margin-left:20px;
    margin-top:20px;
}